---
import Button from "./button.astro";
---

<div>
    <Button>habla</Button>
    <Button>muere</Button>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }

</style>