<!DOCTYPE html>
<html lang="es"></html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Challenge de GoT"></meta>

    <link rel="stylesheet" href="styles.css">

    <title>GoT</title>
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
</head>

<body>
    <slot></slot>
</body>